<html>
    <head>
        <style type="text/css">
            p {
                font-family: monospace, serif;
                font-size: 10px;
                font-weight: bold;
                margin: 4px auto;
                text-align: center;
            }
        </style>
    <body>
        <p>
            arcoiro - faz aquilo que você sabe! Não entendeu!?
            <a href="http://www.youtube.com/watch?v=mpXShHdQGcQ"
                target="_blank">Clique aqui!</a>
        </p>
        <p>
            Este site não hospeda nenhum arquivo. Todo o conteúdo é obtido
            diretamente do <a href="http://tumblr.com">tumblr.com</a>, e é de
            responsabilidade de seus autores.
        </p>
    </body>
</html>